* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e7e7e7;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

header {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;

    .logo {
        a {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 40px;
                margin-right: 10px;
            }

            span {
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #333;
            }
        }
    }
}

main {
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 20px;

    h1 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #5e17eb;

        @media screen and (max-width: 768px) {
            font-size: 24px;
        }
    }

    p {
        text-align: center;
        margin-bottom: 30px;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.5;
        color: #333;
    }

    .main-section {
        width: 100%;
        height: calc(100% - (10px + 20px + 70px));
        display: flex;
        gap: 10px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }

        .title-top {
            text-align: center;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #5e17eb;
        }

        .btn-container {
            width: calc(100% - 500px);
            padding: 20px 10px;
            border: 1px solid #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: auto;
            overflow-y: auto;
            overflow-x: auto;

            @media screen and (max-width: 1024px) {
                width: 100%;
                height: 100%;

                &.open {
                    height: calc(100% - 30vh);
                }
            }

            &::-webkit-scrollbar {
                width: 15px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #5e17eb;
                border-radius: 5px;
                border: 3px solid #f1f1f1;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease;
            }

            &::-webkit-scrollbar-track {
                background-color: #f1f1f1;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-corner {
                background-color: #f1f1f1;
            }

            &::-webkit-resizer {
                background-color: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #5e17eb;
            }

            .button-gallery {
                width: 100%;
                margin-bottom: 20px;
                padding: 10px;
                border: 1px solid #5e17eb;
                border-radius: 10px;

                h3 {
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: #5e17eb;
                }

                .galery-top {
                    width: 100%;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    .grid {
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));

                        @media (max-width: 767px) {
                            display: none;
                        }

                        .card {
                            width: 100%;
                            max-width: 220px;
                            background-color: #000;
                            border: 1px solid #e7e7e7;
                            border-radius: 5px;
                            padding: 10px 5px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 5px;
                            cursor: pointer;
                            transition: box-shadow 0.3s ease;

                            h3 {
                                font-size: 10px;
                                font-weight: 700;
                                letter-spacing: 1px;
                                color: #f2f2f2;
                            }

                            .btn {
                                width: 65%;
                                height: 25px;
                                font-size: 10px;
                                letter-spacing: 1px;
                                border: none;
                                border-radius: 5px;
                                transition: all 0.3s ease;

                                /* Estilos especificos para cada botão */
                                &.neon {
                                    background: transparent;
                                    border: 2px solid #00ffff;
                                    color: #00ffff;
                                    box-shadow: 0 0 8px #00ffff, inset 0 0 8px #00ffff;

                                    &:hover {
                                        box-shadow: 0 0 16px #00ffff, inset 0 0 16px #00ffff;
                                    }
                                }

                                &.glass {
                                    background: rgba(255, 255, 255, 0.1);
                                    color: #fff;
                                    border: 1px solid rgba(255, 255, 255, 0.3);

                                    &:hover {
                                        background: rgba(255, 255, 255, 0.2);
                                    }
                                }

                                &.flat {
                                    background: #0078ff;
                                    color: #fff;

                                    &:hover {
                                        background: #005cc5;
                                    }
                                }

                                &.gradient {
                                    background: linear-gradient(45deg, #ff0057, #ffcc00);
                                    color: #fff;

                                    &:hover {
                                        filter: brightness(1.2);
                                    }
                                }

                                &.outline {
                                    background: transparent;
                                    color: #f3f3f3;
                                    border: 2px solid #f3f3f3;

                                    &:hover {
                                        background: #f3f3f3;
                                        color: #111;
                                    }
                                }

                                &.press3d {
                                    background: #29b6f6;
                                    box-shadow: 0 4px #0288d1;
                                    color: #fff;
                                    transition: all 0.15s ease-in;

                                    &:hover {
                                        box-shadow: 0 2px #0288d1;
                                        transform: translateY(2px);
                                    }
                                }
                            }
                        }
                    }

                    .btnAllCategories {
                        margin-bottom: 5px;
                        background: transparent;
                        border: none;
                        font-size: 14px;
                        letter-spacing: 1px;
                        color: #333;
                        cursor: pointer;

                        @media (max-width: 767px) {
                            padding: 10px 16px;
                            background-color: #5e17eb;
                            border-radius: 5px;
                            font-weight: 700;
                            letter-spacing: 1px;
                            color: #fff;

                            &:hover {
                                font-weight: 700;
                                color: #fff !important;
                            }
                        }

                        &:hover {
                            font-weight: 700;
                            color: #5e17eb;
                        }
                    }
                }

                .allCategories {
                    width: 100%;
                    height: 0px;
                    margin-top: 10px;
                    border-top: 1px solid #ba9afc;
                    overflow: hidden;
                    transition: height 0.4s ease-in;

                    .grid {
                        width: 100%;
                        padding-top: 10px;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));

                        .card {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            h3 {
                                margin-bottom: 10px;
                                padding-bottom: 5px;
                                font-size: 14px;
                                font-weight: 400;
                                letter-spacing: 1px;
                                border-bottom: 1px solid #ba9afc;
                            }

                            ul {
                                list-style: none;

                                li {
                                    text-align: center;
                                    margin-bottom: 5px;
                                    font-size: 12px;
                                    cursor: pointer;

                                    &:hover {
                                        font-weight: 700;
                                        color: #5e17eb;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .buttons-container {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    color: #5e17eb;
                }

                .btn-collection {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    @media screen and (max-width: 1024px) {
                        justify-content: center;
                    }
                }
            }
            
        }

        .btn-code {
            width: 500px;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            border: 1px solid #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            overflow-y: auto;
            transition: height 0.4s ease;

            @media screen and (max-width: 1024px) {
                width: 100%;
                height: 60px;
                align-items: center;
                overflow-y: hidden;

                &.open {
                    height: 70vh;
                    overflow-y: auto;
                }
            }

            &::-webkit-scrollbar {
                width: 15px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #5e17eb;
                border-radius: 10px;
                border: 3px solid #f1f1f1;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                transition: all 0.3s ease;
            }

            &::-webkit-scrollbar-track {
                background-color: #f1f1f1;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-corner {
                background-color: #f1f1f1;
            }

            &::-webkit-resizer {
                background-color: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: #5e17eb;
            }

            .preview-container {
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #5e17eb;
                border-radius: 10px;

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    width: 60%;
                }

                .btn-preview {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #000;
                    border-radius: 10px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s ease;

                    @media screen and (max-width: 767px) {
                        height: 100px;
                    }

                    &:hover {
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .code-container {
                width: 100%;
                margin-top: 20px;

                .code-title {
                    width: 100%;
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: #333;

                    span {
                        font-weight: 700;
                        color: #5e17eb;
                    }
                }
            }

            .code-box {
                width: 100%;
                margin-top: 10px; 
                padding: 10px;
                display: flex;
                justify-content: space-between;
                background-color: #000;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;

                &.html-box {
                    align-items: center;
                }

                &:hover {
                    box-shadow: 0 2px 4px rgba(247, 247, 247, 0.3);
                }

                .code-block {
                    width: calc(100% - 35px);
                    font-size: 12px;

                    pre {
                        border-radius: 10px;
                        overflow-x: auto;
                        color: aqua;
                        background-color: #000 !important;

                        @media screen and (max-width: 1024px) {
                            overflow-x: auto;
                            -webkit-overflow-scrolling: touch;
                            scrollbar-width: none;
                        }
                    }
                }

                .btn-copy {
                    width: 35px;
                    height: 100%;
                    padding-top: 15px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    background-color: #000;
                    border: none;
                    cursor: pointer;
                    transition: transform 0.2s ease, background 0.3s ease;

                    &.copied {
                        border-radius: 8px;
                        color: #0f0;
                    }

                    svg {
                        width: 25px;
                        height: 25px;

                        path {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
}